<h4>Create a Blog</h4>
<a href = "/">Back</a>

<form action="/create_blog" method = "post" id="blog">
	<label>Title</label>
	<input type = "text" name = "title">
	<br>
	<label>Date</label>
	<input type = "text" name = "date">
	<br>
	<label>Blog</label>
	<textarea name = "blog" form="blog" rows = "10" column = "50"></textarea>
	<input type = "submit" value = "Create Blog">
</form>


