<a href="/newblog"><h5>Create a Blog</a></h5>

<ul>
	<% @blogs.each do |blog|%>
		<li>
			<strong><a href="/blog/<%= blog.id %>"><%= blog.title %></a></strong>
			<%= blog.date %>
			<p><%= blog.blog %></p>
		</li>
	<% end %>

</ul>