<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<title>William's Iron Yard Blog</title>
	<!-- <div class = "back"><a href = "/">Back</a></div> -->
</head>
<body>
	<div class = "title"><h1><a href="/">William's Iron Yard Blog</a></h1></div>
	<div class = "subtitle"><a href="/"><h4>Blog List</h4></a></div>

	<%= yield %>
</body>
</html>