<!-- <div class = "createbloglink"><h4>Update a Blog</h4></div>
 -->
<div class = "createform">
<form action="/update/<%= @blog.id %>" method = "post" id="blog">
	<input name="_method" value="patch" type="hidden">
	<label>Title - </label>
	<input type = "text" name = "title" value="<%= @blog.title %>">
	<br>
	<label>Date - </label>
	<input type = "text" name = "date" value="<%= @blog.date %>">
	<br>
	<label>Blog - </label>
	<textarea name = "blog" form="blog" maxlength = "1000" cols = "100" rows = "1"><%= @blog.blog%></textarea>
	<br>
	<input type = "submit" value = "Update Blog Entry">
	<br>
</form>
</div>